a{
  color: black;
  background-color: rgb(94, 188, 250);
  font-size: 32px;
  font-family: Verdana;
  text-align: center;
  /*text-decoration: none; = tirar a decoração*/
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
  /*padding-bottom: 50px;*/
  /*padding-top: 50px; colocar espaçamento interno */
  
  padding: 20px 90px;
  
  /*border-radius: 10px 20px 30px 40px; colocar valor nas 4 bordas*/
  border-radius: 100px;
  
  border: black solid 4px;
}
/*criar o style a partir de outra pagina de css e linkar uma na outra */
/*colocando virgula no H consigo ordenar aonde vai ser 
implementado o style sem criar varias caixsas*/